@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

/* 인게임 Css */
#bg {
  position: relative;

  width: 800px;
  height: 500px;

  background: url("./images/bg.png") no-repeat;
  background-size: cover;

  margin: 0 auto;
}

#hero {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 35px;
  height: 54px;

  background: url("./images/hero.png") no-repeat;
}

#hero.face {
  background-position: 0;
}

#hero.left {
  background-position: -70px;
}

#hero.right {
  background-position: -105px;
}

/* 스타트 창 Css */
#modal.modal-overlay {
  font-family: "Gugi", cursive;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 10;
}

#modal .modal-window {
  background: rgba(15, 44, 67, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 800px;
  height: 500px;
  position: relative;
  padding: 10px;
  animation-name: start;
  animation-duration: 2s;
  animation-duration: leaner;
}

#modal .title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#modal .title h2 {
  display: inline;
}

#modal .start-area {
  position: fixed;
  bottom: 5%;
  left: 45%;
  width: 20%;
  text-shadow: 1px 1px 2px rgb(11, 64, 179);
  font-size: 50px;
  color: rgb(36, 141, 207);
}

#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  text-align: center;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

@-webkit-keyframes start {
  0% {
    bottom: 200px;
  }
  100% {
    bottom: 0px;
  }
}

/* 라이프, 카운트, 시간 틀 CSS */

.header {
  font-family: "Gugi", cursive;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 800px;
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  color: #080808;
  letter-spacing: 0;
  font-size: 30px;
}
